@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('roboto.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'VB';
    src: url('virtual_logo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #f1f1f1 !important;
    overflow-y: scroll !important;
}

.panel {
    border-width: 0 !important;
}

.navbar-header {
	float: none !important;
}

.navbar-brand {
	color: #e0313f !important;
	font-family: 'VB';
	font-size: 40px !important;
	height: auto !important;
	letter-spacing: 1px;
	line-height: 66px !important;
	margin-left: 0 !important;
}

.navbar-brand > img {
    display: inline-block !important;
    margin-right: 10px;
}

.navbar-version {
    color: #820606 !important;
}


.navbar {
	background-color: #111 !important;
	border-radius: 0 !important;
}


.col-sm-12 > div:first-child > div:first-child {
	background-color: #f1f1f1;
	border-bottom: 1px solid #e0313f;
	padding-top: 5px;
	padding-bottom: 5px;
}

.icon {
    background-color: #e0313f !important;
}

.h1, h1 {
    font-family: "VB" !important;
    letter-spacing: 1px !important;
}

address.footer {
	margin: 0 0 20px !important;
	padding: 15px !important;
	text-align: center !important;
}

a {
    color: #e0313f !important;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    background-color: #e0313f !important;
    color: #f1f1f1 !important;
}

.breadcrumb {
    background-color: transparent !important;
}
