@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url('../font/OpenSans-Light.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url('../font/OpenSans.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('../font/OpenSans-Semibold.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url('../font/OpenSans-LightItalic.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url('../font/OpenSans-Italic.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url('../font/OpenSans-SemiboldItalic.woff') format('woff');
}

@font-face {
    font-family: 'VB';
    src: url('../font/virtual_logo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    position: relative;
}

a {
    color: #e0313f;
}
a:hover, a:focus {
    text-decoration: underline;
}

h1 {
    color: #e0313f;
    font-family: VB;
    font-size: 40px;
    letter-spacing: 1px;
    margin: 0 0 20px;
}

h2 {
    font-family: VB;
    font-size: 40px;
    margin: 40px 0 25px;
    padding: 15px 0 0;
}
h3 {
    margin-top: 5px 0 25px;
    padding: 15px 0 0;
}
h4, h5, h6 {
    padding-top: 15px;
}

.abstract {
    background-color: #272822;
    color: #f8f8f2;
    font-size: 16px;
    padding: 32px 0 40px;
}

pre {
    border: none;
}

footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 100px;
    color: #777;
    text-align: center;
    border-top: 1px solid #e5e5e5
}

.footer-links {
    padding-left: 0;
    margin-top: 20px;
    color: #999
}

.footer-links li {
    display: inline;
    padding: 0 2px
}

.footer-links li:first-child {
    padding-left: 0
}

.sidebar {
    max-height: 100%;
    overflow: auto;
    padding: 0;
}

@media (min-width: 768px) {
    footer p {
        margin-bottom: 0
    }
}

#jae-sidebar-toc {
    background: #eee;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
}

#jae-sidebar-toc a {
    color: #666;
}

#jae-sidebar-toc li,
#jae-sidebar-toc li > a {
    border-radius: 5px;
}

#jae-sidebar-toc > li > a {
    padding: 0 15px;
}

#jae-sidebar-toc > li.active > a {
    padding-bottom: 6px;
    padding-top: 6px;
}

#jae-sidebar-toc > li > ul {
    display: none;
}
#jae-sidebar-toc > .active > ul {
    display: block;
}
#jae-sidebar-toc > li > ul {
    margin-bottom: 5px;
}
#jae-sidebar-toc > li > ul > li > a {
    font-size: 90%;
    padding: 0 0 0 30px;
}
#jae-sidebar-toc > li > ul > li.active > a {
    color: #E0313F;
    font-weight: bold;
}

#jae-sidebar-toc > li > ul > li > ul> li > a {
    font-size: 90%;
    padding: 0 0 0 50px;
}

#jae-sidebar-toc > .active > a,
#jae-sidebar-toc > .active:hover > a,
#jae-sidebar-toc > .active:focus > a {
    background-color: #E0313F;
    color: #fff;
}

@media (min-width: 992px) {
    .sidebar .nav > .active > ul {
        display: block
    }

    .sidebar.affix, .sidebar.affix-bottom {
        width: 213px
    }

    .sidebar.affix {
        position: fixed;
        top: 0;
    }

    .sidebar.affix-bottom {
        position: absolute
    }

}

@media (min-width: 1200px) {
    .sidebar.affix-bottom, .sidebar.affix {
        width: 263px
    }
}





