{%- set debug = project.items.DebugMacros.project -%}

{%- import 'templates/partials/macros.njk' as macros -%}
{% include('templates/partials/fileHeader/fileHeader.h.njk') %}

#ifndef	DEBUG_CONFIG_H_
#undef	DEBUG_CONFIG_H_

{{ macros.sectionHeader('Debug Macros') }}
{% for macro in debug.macros %}
#undef {{ macro.name | toUpperSnakeCase }}
{% if macro.define -%}
#define {{ macro.name | toUpperSnakeCase }} 
{{- ' ' -}}
{{- macro.value | formatValue | safe }}
{% for dependent in macro.dependent -%}
#undef {{ dependent | toUpperSnakeCase }}
#define {{ dependent | toUpperSnakeCase }}
{% endfor -%}
{% endif %}

{%- endfor %}
#endif
