{%- set sanitizedSpecName = itemUri | basename(false) | sanitizeSpecName -%}

{%- import 'templates/partials/macros.njk' as macros -%}
{% include('templates/partials/fileHeader/fileHeader.c.njk') %}

{{ macros.sectionHeader('Definitions') }}

const int8 {{ sanitizedSpecName }}WaveForm[] =
{
	{% for value in item.values -%}
		{{- value - 1 -}}{{- ', '-}} 
	{%- endfor %}
};